.card {
  display: grid;
  grid-template-columns: repeat(3,1fr);
  row-gap: 25px;
  border: none;
  margin-top: 60px;
  background-color: transparent;

  &-wrapper {
    display: flex;
    justify-content: center;
  }
  
  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    padding: 40px;
    padding-bottom: 20px;
    border-radius: 20px;
  }
}