.card {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(223px,1fr));
  row-gap: 25px;
  column-gap: 15px;
  border: none;
  margin-top: 60px;
  background-color: transparent;

  &-wrapper {
    display: flex;
    justify-content: center;
  }
  
  &__overlay {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 40px;
    padding-bottom: 20px;
    border-radius: 20px;
    gap: 6px;
  }
}