.header {
  background-color: #242124;
  padding: 20px 10%;
  box-shadow: 0px 4px 5px #760E12;
  z-index: 2;
}

.logo {
  width: 220px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.navigation {
  &__list {
    display: flex;
    gap: 15%;
  }

  &__link {
    text-decoration: none;
    color: #FDE8E9;

    &:hover {
      color: #C51117;
      text-shadow: 2px 1px 3px #EC1D24;
    }

    &.active {
      box-shadow: 0 0 10px #EC1D24;
      border-radius: 25px;
      padding: 6px;
      background: rgba(223, 44, 44, 0.5);
    }
  }
}